<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ATVPingPongGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AWPingPongGame (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AWPingPongGame (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AWPingPongGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PingPongGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>870EAE261DC4E8CA00E6E773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87DB8FAF1DC49665007DE6EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87DB8FC91DC49665007DE6EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87DB8FD41DC49665007DE6EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F002931DC66D2600FCD81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F002AB1DC66D2700FCD81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F002B61DC66D2700FCD81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
